In [41]:
import pandas as pd
import numpy as np

In [14]:
cd ~/Desktop

C:\Users\agilman\Desktop

In [104]:
df_compiled = pd.read_csv("compiled_data.txt", delimiter = "\t", encoding = 'unicode_escape')

In [114]:
df_compiled = pd.read_csv("compiled_data.txt", delimiter = "\t", encoding = 'unicode_escape')
df_compiled.insert(loc = 6, column = "Qp (pg/cell day)", value = np.NaN) #inserting empty column

for key, grp in df_compiled.groupby(['Sample ID']):
    
    time_delta = grp["Runtime"].diff() #getting time delta (x axis delta)
    VCD_shift = grp["VCD"].shift() #shifting y column to do Yn + Y(n-1) for every row
    VCD_trapezoids = (grp["VCD"] + VCD_shift)*time_delta/2 #area of each trapezoid 
    IVCD = VCD_trapezoids.cumsum()*(10**6) #integrated area in units cells/mL * days
    titer_pg_ml = grp["Titer"]*(10**9) #converting titer to pg/ml
    
    
    
    #grp["Qp (pg/cell day)"] = titer_pg_ml/IVCD #creating Qp column
    
    
    df_compiled[df_compiled["Sample ID"] == key].loc[:,"Qp (pg/cell day"] = titer_pg_ml/IVCD
    
    
    print (key)

C:\Users\agilman\AppData\Local\Continuum\miniconda3\envs\data_wrangling\lib\site-packages\pandas\core\indexing.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\agilman\AppData\Local\Continuum\miniconda3\envs\data_wrangling\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

R0007
R0008
R0009
R0010
R0011
R0012
R0013
R0014

In [115]:
df_compiled.loc[:,"Qp (pg/cell day)"]

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
       ..
93    NaN
94    NaN
95    NaN
96    NaN
97    NaN
98    NaN
99    NaN
100   NaN
101   NaN
102   NaN
103   NaN
104   NaN
105   NaN
106   NaN
107   NaN
108   NaN
109   NaN
110   NaN
111   NaN
112   NaN
113   NaN
114   NaN
115   NaN
116   NaN
117   NaN
118   NaN
119   NaN
120   NaN
121   NaN
122   NaN
Name: Qp (pg/cell day), Length: 123, dtype: float64

In [109]:
df_compiled[df_compiled["Sample ID"] == "R0014"]["Qp (pg/cell day)"]

108   NaN
109   NaN
110   NaN
111   NaN
112   NaN
113   NaN
114   NaN
115   NaN
116   NaN
117   NaN
118   NaN
119   NaN
120   NaN
121   NaN
122   NaN
Name: Qp (pg/cell day), dtype: float64

In [18]:
R0014_copy = data[data["Sample ID"] == "R0014"].copy()

In [35]:
R0014_copy.columns

Index(['Vicell Date', 'Viability', 'VCD', 'Runtime', 'Titer', 'Sample ID',
       'Gln', 'Glu', 'Gluc', 'Lac', 'NH4+', 'Na+', 'K+', 'Ca++', 'pH', 'PO2',
       'PCO2', 'Osm', 'Vessel ID', 'Batch ID', 'Cell Type',
       'Vessel Temperature (Â°C)', 'Vessel Pressure (psi)', 'Sparging O2%',
       'Chemistry Dilution Ratio', 'pH @ Temp', 'PCO2 @ Temp', 'PO2 @ Temp',
       'O2 Saturation', 'CO2 Saturation', 'HCO3', 'Chemistry Flow Time',
       'pH / Gas Flow Time', 'Tray Location', 'Time In Tray', 'Sample Time',
       'Operator'],
      dtype='object')

In [37]:
R0014_example = R0014_copy.loc[:,['Runtime','VCD','Titer']].copy()

In [42]:
R0014_example["IVCD"] = np.nan

In [43]:
R0014_example

     Runtime    VCD   Titer  IVCD
108      0.0   5.97     NaN   NaN
109      1.0  10.20     NaN   NaN
110      1.9  15.70     NaN   NaN
111      3.2  21.80     NaN   NaN
112      4.0  23.40     NaN   NaN
113      4.9  25.50     NaN   NaN
114      5.9  24.90  1.3594   NaN
115      7.0  26.30     NaN   NaN
116      7.9  23.50  1.2478   NaN
117      8.9  15.00     NaN   NaN
118     10.0  12.30  1.3219   NaN
119     11.0  11.30     NaN   NaN
120     11.9   9.77  1.3664   NaN
121     12.9   8.90     NaN   NaN
122     13.9   6.77  1.3602   NaN

In [46]:
R0014_example["IVCD"] = R0014_example["VCD"].apply(function_copy)

In [78]:
R0014_example["time delta"] = R0014_example["Runtime"].diff() #getting time delta
R0014_example["Previous VCD"] = R0014_example["VCD"].shift()
R0014_example["IVCD"] = (R0014_example["VCD"] + R0014_example["Previous VCD"])*R0014_example["time delta"]/2
R0014_example["Sum IVCD"] = R0014_example["IVCD"].cumsum()
R0014_example["Sum IVCD (cells/ml * days)"] = R0014_example["Sum IVCD"]*(10**6) #total cumulative cell area
R0014_example["Titer pg/mL"] = R0014_example["Titer"]*(10**9)

R0014_example["Specific prod. (pg/cell day)"] = R0014_example["Titer pg/mL"]/R0014_example["Sum IVCD (cells/ml * days)"]

R0014_example

,Runtime,VCD,Titer,IVCD,time delta,Previous VCD,Sum IVCD,Sum IVCD (cells/ml * days),Titer pg/mL,Specific prod. (pg/cell day)
108,0.0,5.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,1.0,10.20,NaN,8.0850,1.0,5.97,8.0850,8085000.0,NaN,NaN
110,1.9,15.70,NaN,11.6550,0.9,10.20,19.7400,19740000.0,NaN,NaN
111,3.2,21.80,NaN,24.3750,1.3,15.70,44.1150,44115000.0,NaN,NaN
112,4.0,23.40,NaN,18.0800,0.8,21.80,62.1950,62195000.0,NaN,NaN
113,4.9,25.50,NaN,22.0050,0.9,23.40,84.2000,84200000.0,NaN,NaN
114,5.9,24.90,1.3594,25.2000,1.0,25.50,109.4000,109400000.0,1.359400e+09,12.425960
115,7.0,26.30,NaN,28.1600,1.1,24.90,137.5600,137560000.0,NaN,NaN
116,7.9,23.50,1.2478,22.4100,0.9,26.30,159.9700,159970000.0,1.247800e+09,7.800213
117,8.9,15.00,NaN,19.2500,1.0,23.50,179.2200,179220000.0,NaN,NaN
118,10.0,12.30,1.3219,15.0150,1.1,15.00,194.2350,194235000.0,1.321900e+09,6.805674
119,11.0,11.30,NaN,11.8000,1.0,12.30,206.0350,206035000.0,NaN,NaN
120,11.9,9.77,1.3664,9.4815,0.9,11.30,215.5165,215516500.0,1.366400e+09,6.340118
121,12.9,8.90,NaN,9.3350,1.0,9.77,224.8515,224851500.0,NaN,NaN
122,13.9,6.77,1.3602,7.8350,1.0,8.90,232.6865,232686500.0,1.360200e+09,5.845634

In [93]:
df_compiled = R0014_copy.loc[:,['Runtime','VCD','Titer']].copy()

time_delta = df_compiled["Runtime"].diff() #getting time delta (x axis delta)
VCD_shift = df_compiled["VCD"].shift() #shifting y column to do Yn + Y(n-1) for every row
VCD_trapezoids = (df_compiled["VCD"] + VCD_shift)*time_delta/2 #area of each trapezoid 
IVCD = VCD_trapezoids.cumsum()*(10**6) #integrated area in units cells/mL * days
titer_pg_ml = df_compiled["Titer"]*(10**9) #converting titer to pg/ml
df_compiled["Qp (pg/cell day)"] = titer_pg_ml/IVCD #creating Qp column

'\nR0014_example["Specific prod. (pg/cell day)"] = R0014_example["Titer pg/mL"]/R0014_example["Sum IVCD (cells/ml * days)"]\n\nR0014_example\n'