# Developing Data Cleaning Functions

# Trying to break down stack overflow answer
https://stackoverflow.com/questions/58401694/merge-pandas-time-series-datasets-on-numerically-nearest-index-full-outer-join

In [53]:
df1 = pd.DataFrame([[1.002,18],[2,22],[3,77],[5,23]], columns=["timestamp", "max_val"])
df2 = pd.DataFrame([[1,33],[2,12],[3.001,87],[4,54]], columns=["timestamp", "max_val"])

merged_df = pd.merge_asof(df1,df2, on="timestamp")

print(df1)
print(df2)
print(merged_df)

   timestamp  max_val
0      1.002       18
1      2.000       22
2      3.000       77
3      5.000       23
   timestamp  max_val
0      1.000       33
1      2.000       12
2      3.001       87
3      4.000       54
   timestamp  max_val_x  max_val_y
0      1.002         18         33
1      2.000         22         12
2      3.000         77         12
3      5.000         23         54

In [54]:
df2['Rank'] = df2['timestamp'].rank()

In [57]:
new_df = (pd.merge_asof(df1, df2, 
              on='timestamp',
              direction='nearest', 
              tolerance=0.01))

In [64]:
print(df1)
print(df2)
print(new_df)
print(new_df_b)

   timestamp  max_val
0      1.002       18
1      2.000       22
2      3.000       77
3      5.000       23
   timestamp  max_val  Rank
0      1.000       33   1.0
1      2.000       12   2.0
2      3.001       87   3.0
3      4.000       54   4.0
   timestamp  max_val_x  max_val_y  Rank
0      1.002         18       33.0   1.0
1      2.000         22       12.0   2.0
2      3.000         77       87.0   3.0
3      5.000         23        NaN   NaN
   timestamp_x  max_val_x  max_val_y  Rank  timestamp_y  max_val
0        1.002       18.0       33.0   1.0        1.000     33.0
1        2.000       22.0       12.0   2.0        2.000     12.0
2        3.000       77.0       87.0   3.0        3.001     87.0
3        5.000       23.0        NaN   NaN          NaN      NaN
4          NaN        NaN        NaN   4.0        4.000     54.0

In [87]:
new_df_b = pd.merge(new_df, df2, on = "Rank", how = "outer")
new_df_c = new_df_b.assign(timestamp = lambda x: x.filter(like='timestamp').iloc[:,0])
new_df_d = new_df_b.assign(timestamp = lambda x: x.filter(like='timestamp').iloc[:,1])

In [88]:
print(new_df_c)
print(new_df_d)

   timestamp_x  max_val_x  max_val_y  Rank  timestamp_y  max_val  timestamp
0        1.002       18.0       33.0   1.0        1.000     33.0      1.002
1        2.000       22.0       12.0   2.0        2.000     12.0      2.000
2        3.000       77.0       87.0   3.0        3.001     87.0      3.000
3        5.000       23.0        NaN   NaN          NaN      NaN      5.000
4          NaN        NaN        NaN   4.0        4.000     54.0        NaN
   timestamp_x  max_val_x  max_val_y  Rank  timestamp_y  max_val  timestamp
0        1.002       18.0       33.0   1.0        1.000     33.0      1.000
1        2.000       22.0       12.0   2.0        2.000     12.0      2.000
2        3.000       77.0       87.0   3.0        3.001     87.0      3.001
3        5.000       23.0        NaN   NaN          NaN      NaN        NaN
4          NaN        NaN        NaN   4.0        4.000     54.0      4.000

In [95]:
new_df_b

   timestamp_x  max_val_x  max_val_y  Rank  timestamp_y  max_val
0        1.002       18.0       33.0   1.0        1.000     33.0
1        2.000       22.0       12.0   2.0        2.000     12.0
2        3.000       77.0       87.0   3.0        3.001     87.0
3        5.000       23.0        NaN   NaN          NaN      NaN
4          NaN        NaN        NaN   4.0        4.000     54.0

In [105]:
new_df_b.filter(like = "timestamp")

   timestamp_x  timestamp_y
0        1.002        1.000
1        2.000        2.000
2        3.000        3.001
3        5.000          NaN
4          NaN        4.000

In [122]:
new_df_b.filter(like = "timestamp").bfill(axis = 1)

   timestamp_x  timestamp_y
0        1.002        1.000
1        2.000        2.000
2        3.000        3.001
3        5.000          NaN
4        4.000        4.000